.DS_Store
node_modules
/dist
/local
/lib
public/manifest.json
public/js
3rdpage/js
codebase.md


# local env files
.env.local
.env.*.local
.env
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Aider-specific files to ignore
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v3/
.aider*
