<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="kondor.css" />
  </head>
  <body>
    <div class="title">KONDOR</div>
    <div id="view-unlock" class="container">
      <input id="password" type="password" placeholder="Password" />
      <button id="unlock">Unlock</button>
      <div class="sep">OR</div>
      <button id="goto-import">Import</button>
    </div>
    <div id="view-import" class="container">
      <input
        id="private-key"
        type="text"
        class="multi"
        placeholder="Private key"
      />
      <div>Provide a password to lock the wallet</div>
      <input id="set-password" type="text" placeholder="Password" />
      <button id="import">Import</button>
    </div>
    <div id="view-transfer" class="full-container hidden">
      <div id="address"></div>
      <div id="balance">
        <div id="balance-value"></div>
        <div id="token-name">TKOIN</div>
      </div>
      <div class="title-section">Transfer</div>
      <input id="transfer-to" type="text" placeholder="to" />
      <input id="transfer-amount" type="text" placeholder="amount" />
      <button id="transfer">Transfer</button>
    </div>
    <div class="alert">
      <p id="text-alert"></p>
    </div>
    <script src="start.js"></script>
  </body>
</html>
