:root {
  --primary-color: #E2B7EC;
  --secondary-color: #110020;
  --kondor-light: #F7DCBF;
  --kondor-gray: #828282;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html {
  height: 600px;
  width: 384px;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2em;
}

a, a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 400;
}

input,
textarea {
  background-color: none;
  width: 92%;
  color: var(--kondor-gray);
  padding: 1em;
  margin: .5em 0 1em 0;
  border: 1px solid var(--kondor-light);
}

button {
  color: var(--primary-color);
  border-bottom: 1px solid var(--kondor-light);
  padding: .8em 0;
  font-family: 'Major Mono Display', monospace;
  cursor: pointer;
}
button:hover {
  opacity: .5;
}

.w-60 {
  width: 60%;
}

.hidden {
  display: none;
}

/* buttons */
.kondor-button {
  padding: 0.8em 0.0;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
}

.content-heading {
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: .5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input {
  padding: 0 4px;
  margin: 0;
  border: 0;
  outline: none;
  background: transparent;
  resize: none;
  flex: 1;
}

.back svg {
  height: 24px;
  width: 41px;
  margin-left: -8px;
}

.space-between {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

.opening-description {
  padding: 0 4em;
  text-align: left;
  font-size: 1.2em;
  font-family: 'Major Mono Display', monospace;
}

.header-mark img {
  width: 16px;
}

.card {
  display: flex;
  flex-direction: row;
}

.card img {
  padding: 2em 2em 2em 0;
}

.card p {
  color: var(--kondor-gray);
}

.robot-import {
  display: flex;
  justify-content: center;
  padding: 3em;
}
.back-arrow {
  width: 41px;
  cursor: pointer;
}
.button-with-icon {
  display: flex;
  align-items: center;
}
.buttons-spread {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  width: 108%;
}
.major {
  font-family: 'Major Mono Display', monospace;
}
.explainer {
  width: 252px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  font-size: 1.2em;
  line-height: 1.4em;
}

.explainer-card {
  margin-bottom: 1em;
}

.title {
  font-weight: 700;
}

.text {
  color: white;
  font-weight: 100;
}

.disabled {
  color: gray;
  cursor:not-allowed;
}
.warn {
  color:deeppink;
}
.testnet-banner {

  display: flex;
  justify-content: center;
  padding: .2em;
  background: rgb(201, 31, 31);
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

}
#logo {
  display: flex;
  flex-direction: column;
}
#logo-mark {
  margin-bottom: 3em;
}
#address {
  font-size: .8em;
  padding-right: .5em;
}
#balance-value {
  font-size: 2em;
  padding: 1em 1em .2em 1em;
}
#send {
  margin-top: 3em;
}
#space {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  opacity: 40%;
}

/* spinner */
.loader,
.loader:before,
.loader:after {
  background: linear-gradient(to bottom,  #6f00f6 0%,#e2b7ec 100%);;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: .4em;
  height: 5em;
}
.loader {
  color: #6F00F6;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center
  ;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


/* ANIMATIONS  */
.red {
  color: rgb(255, 1, 1);
  font-weight: 700;
}

.blinkme {
  animation: blinker 2s cubic-bezier(0, 0, 0.07, 0.98) infinite;
}

@keyframes blinker {
  0% {
    color: rgb(252, 221, 221);
  }
  50% {
    color:rgb(255, 0, 0)
  }
  100% {
    color: rgb(255, 255, 255);
  }
  
}

.alert{
  position: fixed;
  bottom: -100px;
  margin-bottom: 15px;
  display: block;
  width: calc(100% - 105px);
  border-radius: 6px;
  padding: 0px 20px;
  text-align: left;
  transition: all 0.3s;
}
.alert.show {
  bottom: 0px;
}
.alert.danger {
  background: #ff9f9f;
  color: #8a0000;
}
.alert.info {
  background: #ffef9f;
  color: #828a00;
}
.alert.success {
  background: #9fffbd;
  color: #008a24;
}