body {
  font-family: "Poppins", sans-serif;
}

.group {
  margin-top: 30px;
}

#result {
  margin-top: 30px;
  width: 100%;
  padding: 8px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(224, 224, 224);
}
