:root {
  --primary-color: #E2B7EC;
  --secondary-color: #110020;
  --kondor-light: #F7DCBF;
  --kondor-gray: #828282;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 500px;
  width: 309px;
  font-family: 'Urbanist', sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2em;
}

#sandbox {
  display: none;
  height: 0px;
  width: 0px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a, a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

input,
textarea {
  background-color: none;
  width: 92%;
  color: var(--kondor-gray);
  padding: 1em;
  margin: .5em 0 1em 0;
  border: 1px solid var(--kondor-light);
}

input,
label,
select,
button,
textarea
{
	/*margin:0;
	border:0;
	padding:0;*/
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;	
	font-size:13px;
	font-family:Arial;
}

button {
  background: var(--kondor-light);
  padding: 0.8em;
  color: var(--secondary-color);
  border-radius: 8px;
  border-width: 0;
  font-family: 'Major Mono Display', monospace;
  cursor: pointer;
}
button:hover {
  opacity: .5;
}
