:root {
  --primary-color: #e2b7ec;
  --secondary-color: #110020;
  --kondor-light: #ffffff;
  /* --kondor-light: #f7dcbf; */
  --kondor-gray: #828282;
}

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100;400;500;600&display=swap");

button {
  all: initial;
  font: inherit;
  color: inherit;
}

input {
  all: unset;
}

body {
  margin: 0px;
  background: var(--secondary-color);
  color: var(--kondor-light);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}
.subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", monospace;
  font-weight: 400;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  width: 357px;
}

#sandbox {
  display: none;
  height: 0px;
  width: 0px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  color: var(--kondor-light);
  padding: 1em;
  text-align: left;
  background: rgba(226, 183, 236, 0.2);
  border-radius: 4px;
  border: none;
  margin-bottom: 1em;
}
textarea {
  margin-bottom: 2em;
  height: 4em;
}

input,
label,
select,
button,
textarea {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  line-height: 1;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 8px;
  border: 1px solid #fff;
  border-radius: 2px;
  color: var(--kondor-light);
  text-transform: capitalize;
  width: 96%;
  margin: 1em 0;
}
button:hover {
  opacity: 0.5;
  cursor: pointer;
}
button:disabled {
  background: #a28f7a;
}
.link {
  padding-bottom: 0 0 8px 0;
}
.link:hover {
  color: white;
}

.proper {
  text-transform: capitalize;
}
.title {
  text-transform: capitalize;
  padding-bottom: 0.3em;
}
.body {
  text-transform: capitalize;
  color: var(--kondor-gray);
  font-size: 0.8em;
  padding-bottom: 1em;
  line-height: 1.5em;
  text-align: center;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
  width: 100%;
}
.container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--kondor-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 1.4em;
}

.content-50 {
  width: 50%;
}

.checkbox {
  all: revert;
}

.item-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-checkbox {
  padding-left: 0.5em;
}

/* Margins */
.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}