:root {
  --primary-color: #e2b7ec;
  --secondary-color: #110020;
  --kondor-light: #f7dcbf;
  --kondor-gray: #828282;
}

body {
  margin: 0px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Urbanist", sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
}

#sandbox {
  display: none;
  height: 0px;
  width: 0px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

input,
textarea {
  background-color: none;
  width: 92%;
  color: var(--kondor-gray);
  padding: 1em;
  margin: 0.5em 0 1em 0;
  border: 1px solid var(--kondor-light);
}

input,
label,
select,
button,
textarea {
  /*margin:0;
	border:0;
	padding:0;*/
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial;
}

button {
  background: var(--kondor-light);
  padding: 0.8em;
  color: var(--secondary-color);
  border-radius: 8px;
  border-width: 0;
  font-family: "Major Mono Display", monospace;
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}
button:disabled {
  background: #a28f7a;
}

.flex {
  display:flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

/* Margins */

.mt-50 {
  margin-top:50px;
}

.mt-10 {
  margin-top:10px;
}

.my-5 {
  margin: 5px 0 5px 0;
}

.my-default {
  margin: 0.5em 0 1em 0;
}